<nav>
    <h2 class = "center-text">Francesinha Wiki</h2>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'francesinha' %}">Francesinhas</a></li>
        <li><a href="{% url 'francesinha-create' %}">Add Francesinha</a></li>
        <li><a href="{% url 'francesinha-list' %}">Search Francesinha</a></li>
        <li><a href="{% url 'restaurant' %}">Restaurants</a></li>
        <li><a href="{% url 'restaurant-create' %}">Add Restaurant</a></li>
        <li><a href="{% url 'restaurant-list' %}">Search Restaurant</a></li>
    </ul>
</nav>