{% extends 'base.html' %}

{% block content %}
<div class="search-container">
  <h2>Search Restaurants</h2>
  <form method="GET" action="{% url 'restaurant-list' %}">
    <input type="text" name="q" placeholder="Search...">
    <button type="submit">Search</button>
  </form>
</div>

<div class="results-container">
    {% for object in objects %}  
        <div class="result-card">
            <h2>Restaurant: {{ object.name }}</h2>
            <p><strong>Address:</strong> {{ object.address }}</p>
            <p><strong>City:</strong> {{ object.city }}</p>
            <p><strong>Country:</strong> {{ object.country }}</p>
            <p><strong>Rating:</strong> {{ object.rating }}</p>
            
            {% if object.francesinhas %}
                <h3>Francesinhas:</h3>
                <ul>
                    {% for francesinha in object.francesinhas.all %}
                        <li>{{ francesinha.name }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Without Francesinhas</p>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}
